#grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'footer footer footer footer';
    height: 100vh;
    width: 100vw;
    gap: 5px;
    
}
#header{
    background-color: red;
    grid-area: header;
}
#sidebar{
    background-color: yellow;
    grid-area: sidebar;
}
#main{
    background-color: green;
    grid-area: main;
}
#footer{
    background-color: blue;
    grid-area: footer;
}
#list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#logo{
    align-items: flex-end;
}

